@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #A6A6A6;
}

::-webkit-scrollbar-thumb {
  background: #006241;
  border-radius: 12px;
  transition: all 1s ease;
}

.warning h6 {
  text-align: center;
  background: #eac784;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  background: #fff;
}

.seccion {
  background: #eac784;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header .logo {
  position: relative;
  max-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  padding: 6px 15px;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
header ul li a:hover, header ul li a.active {
  background: #017143;
  color: #fff;
  border-radius: 60px;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox {
  position: relative;
  max-width: 600px;
}
.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textBox p {
  color: #333;
}
.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .textBox a:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin-top: 40px;
}
.content .imgBox img {
  max-width: 340px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.4s;
}
.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  max-width: 60px;
}
.thumb .img-4 {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.4s;
}
.thumb .img-4:hover {
  transform: translateY(-15px);
}
.thumb .img-4 img {
  max-width: 48px;
}
.thumb .img-5 {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.4s;
}
.thumb .img-5:hover {
  transform: translateY(-15px);
}
.thumb .img-5 img {
  max-width: 65px;
}

.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}
.sci li a:hover {
  transform: scale(0.9);
  transition: all 0.3s;
}

@media screen and (max-width: 800px) {
  html {
    background: #eac784;
  }
  header {
    position: absolute;
    flex-direction: column;
    z-index: 8;
    padding: 8px 10px;
  }
  section {
    max-height: 100%;
  }
  .content {
    position: relative;
    width: 100%;
    display: block;
    top: 70px;
    text-align: justify;
  }
  .content .textBox {
    max-width: 600px;
  }
  .content .textBox h2 {
    text-align: center;
  }
  .content .textBox p {
    font-size: 20px;
    margin-top: 15px;
  }
  .content .textBox a {
    margin-top: 20px;
    margin-inline-start: 200px;
  }
  .content .imgBox {
    width: 480px;
    display: flex;
    padding-right: 85px;
    margin-top: 45px;
  }
  .content .imgBox img {
    max-width: 250px;
  }
  .circle {
    clip-path: circle(0px);
    overflow: hidden;
  }
  .thumb {
    top: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
